<%-include("partials/_header") %>

<div class="container">
<div class="row mt-5">
    <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
                <th>n°</th>
                <th>mombre</th>
                <th>direccion</th>
                <th>telefono</th>
                <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
            <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                   <td><%= (i + 1) %></td> 
                   <td><%= data[i].nombre %></td> 
                   <td><%= data[i].direccion %></td> 
                   <td><%= data[i].telefono %></td> 
                <td>
                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a> 
                <a href="/update/<%= data[i].id %>" class="btn btn-info">Update</a>
                </td>
            <% } %>
          <% } %>
          </tbody>  
        </table>
    </div>
    <div class="col-md5">
        <div class="card">
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="direccion" placeholder="Direccion" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="telefono" placeholder="Telefono" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-danger">
                       Guardar nuevo comprador 
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<%-include("partials/_footer") %>